.header {
  display: flex;
  background-color: #8e231d;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 5;
}

.main-section {
  padding-top: 100px;
  display: flex;
}

.main-section-mobile {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.page-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px;
}

.flex-valign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: white;
}

.header-buttons>* {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
}

.logo-box {
  width: 300px;
  background-color: rgb(198, 198, 198);
  font-size: 32px;
  color: rgb(27, 99, 65);
  text-align: center;
}

.cart-button {
  display: initial;
}

.learn-more-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  border-top: 1px solid rgb(208, 208, 208);
  min-height: 80px;
}

.learn-more-banner>* {
  flex-basis: 20%;
}

.footer {
  background: rgb(202, 202, 202);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.footer>p {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid black;
}

.footer>p:nth-child(1) {
  border: none;
}

.cat {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  border: 1px solid lightgray
}

.sidebar>section {
  margin: 10px;
  border: solid 1px lightgray;
}

.sidebar-content {
  padding: 6px;
}

.label {
  display: flex;
  align-items: center;
  background-color: grey;
  color: white;
  font-weight: bold;
  height: 40px;
}

.search-button {
  background-color: #8e231d;
  display: flex;
  align-items: center;
  color: white;
  border: 0px;
  padding: 6px 12px;
  border-radius: 6px;
  margin-top: 8px;
}

.selected {
  background: white;
  color: #8e231d;
}

p {
  margin: 0px
}

.product-card {
  max-width: 480px;
  margin: 10px;
  position: relative;
  border: 1px solid lightgray;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.info-box {
  position: absolute;
  bottom: 0;
  background-color: #ffffffc0;
}

.product-cat {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #8e231d;
  color: white;
  height: 40px
}

.details {
  padding: 15px
}

.details>p {
  font-size: 24px;
  font-weight: bold;
}

.price {
  font-size: 32px;
  color: #8e231d;
}

.display-card {
  width: 50%;
  border: 1px solid lightgray;
}

.display-card>img {
  padding: 8px;
  box-sizing: border-box
}

.display-box {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buy-now {
  height: 40px;
  width: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  object-fit: contain;
  width: 100%;
}

.excerpt {
  background-color: rgb(232, 230, 230);
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  margin-top: 10px;
}

.title {
  text-align: center;
  text-decoration: underline;
  font-size: 28PX;
  font-weight: bold;
}

.subtitle {
  text-decoration: underline;
  font-size: 24PX;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.featured {
  max-width: 800px;
  align-self: center;
  border: solid 1px lightgray;
  padding: 10px
}

.burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: lightgray;
  color: black;
  height: 60px;
  width: 60px;
  font-size: 20px;
  padding: 0px;
  text-align: center;
}

.burger-button:active {
  background-color: grey;
}

.burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100px;
  z-index: 4;
  /* background-color: #8e231d; */
  background-color: lightgray;
  box-sizing: border-box;
  border: 1px solid grey;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.burger-menu>* {
  width: 90%;
  background-color: #8e231d;
  margin: 7px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}